$bg-color-basic: #68b738;
$bg-color-secondary: #f2f2f2;
$border-color: #e6e6e6;
$color-light: #ffffff;
$color-dark: #000000;
$color-special: #666666;

// Цвет текста
$text-color-primary: #444444;
$text-color-secondary: #222222;
