.apps-card__title {
  font-size: 16px;
  line-height: 100%;
  text-transform: uppercase;
  color: $text-color-secondary;
}

.apps-card__property {
  line-height: 100%;
  color: $text-color-primary;
}
