.cooperation__title {
  font-size: 16px;
  line-height: 125%;
  text-transform: uppercase;
}

.cooperation__address {
  font-family: $font-secondary;
  line-height: 143%;
  color: $text-color-primary;
}

.cooperation--index {
  background-color: $color-light;
}
