.preview {
  background-color: $bg-color-basic;
  color: $color-light;
}

.preview__title {
  font-size: 36px;
  line-height: 100%;
}

.preview__text {
  line-height: 100%;
  text-transform: uppercase;
}
